@model IEnumerable<Fidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if(!Model.Any())
{
    <p>No movies in the database.</p>
}
else 
{
    <table class="table table-bordered table-hover">
    <thead>
        <tr> <th>Movie</th></tr>
    </thead>
    <tbody>
          @foreach(var flick in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(flick.Name, "Details", "Movies", new {Id = flick.Id }, null)
                        </td>
                    </tr>
                }
    </tbody>
    </table>
}       

        
       
   
