@model IEnumerable<Fidly.Models.Customers>

@{
   ViewBag.Title = "CustomerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Customers</h2>

@if(!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else 
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer Names</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var person in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink( person.Name, "Details", "Customer", new {id = person.Id}, null)
                    </td>
                </tr>
            }
        </tbody>


    </table>

}
