@model Fidly.Models.Customers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model == null)
{
    <p>404 = Not Found() - No Customer for this index.</p>
}
else 
{    
    <div>
        <h2>@Model.Name</h2>       
    </div>
    <div>
        <ul>             
            <li>
                Membership Type: @Model.MembershipType.MembershipName
            </li> 
            @if(Model.DOB != null)
           {
             <li>
                Date of birth: @Model.DOB
             </li> 
            }  
        </ul>
    </div>
}

    

